body{
    text-align: center;
}
header{
    background-color: black;
    color: white;
    padding:20px;
}
li{
    display: inline;
    margin-right: 50px;
}
a{
    color: bisque;
    text-decoration: none;
}
img{
    height: 200px;
    width:200px;
    border-radius: 100px;
}
#portfolio{
    background-color: bisque;
    padding:20px;

}
footer{
    background-color: black;
    color: white;
    padding: 10px;
}